<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    <meta charset="utf-8">
    <title>{% if section.title %}{{ section.title }}{% elif page.title %}{{ page.title }}{% else %}LIMEBECK.DEV{% endif %}</title>
    <style >
        @font-face {
            font-family: 'Iosevka';
            font-style: normal;
            font-weight: 400;
            src: url('{{ get_url(path="fonts/iosevka-extended.woff2") }}') format('woff2'), url('{{ get_url(path="fonts/iosevka-extended.woff") }}') format('woff'), url('{{ get_url(path="fonts/iosevka-extended.ttf") }}') format('truetype');
        }
    </style>
    <link rel="stylesheet" href="{{ config.base_url }}/index.css"/>
</head>

<body>
    <header>
        <div class="header">
            <div class="header_logo">
                {% if lang == "en" %}
                    <a href="{{ get_url(path='@/_index.md') }}">
                        <h1 class="logo">LIMEBECK.DEV</h1>
                    </a>
                {% else %}
                    <a href="{{ get_url(path='@/_index.ru.md') }}">
                        <h1 class="logo">LIMEBECK.DEV</h1>
                    </a>
                {% endif %}
            </div>
            <div class="lang_switch">
                {% if lang == "en" %}
                    <a href="{{ get_url(path='@/_index.ru.md') }}">
                        <h1 class="logo">RU</h1>
                    </a>
                {% else %}
                    <a href="{{ get_url(path='@/_index.md') }}">
                        <h1 class="logo">EN</h1>
                    </a>
                {% endif %}            
            </div>
        </div>
    </header>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>
</body>

</html>