<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
        ym(93416503, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/93416503" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
    <meta charset="utf-8">
    <title>{% if section.title %}{{ section.title }}{% elif page.title %}{{ page.title }}{% else %}LIMEBECK.DEV{% endif %}</title>
    <style >
        @font-face {
            font-family: 'Iosevka';
            font-style: normal;
            font-weight: 400;
            src: url('{{ get_url(path="fonts/iosevka-extended.woff2") }}') format('woff2'), url('{{ get_url(path="fonts/iosevka-extended.woff") }}') format('woff'), url('{{ get_url(path="fonts/iosevka-extended.ttf") }}') format('truetype');
        }
    </style>
    <link rel="stylesheet" href="{{ config.base_url }}/index.css"/>
</head>

<body>
    <header>
        <div class="header">
            <div class="header_logo">
                {% if lang == "en" %}
                    <a href="{{ get_url(path='@/_index.md') }}">
                        <h1 class="logo">LIMEBECK.DEV</h1>
                    </a>
                {% else %}
                    <a href="{{ get_url(path='@/_index.ru.md') }}">
                        <h1 class="logo">LIMEBECK.DEV</h1>
                    </a>
                {% endif %}
            </div>
            <div class="lang_switch">
                {% if lang == "en" %}
                    {% set another_lang = 'ru' %}
                {% else %}
                    {% set another_lang = 'en' %}
                {% endif %}

                {% if page %}
                    {% set path = page.translations | filter(attribute='lang', value=another_lang) | map(attribute='permalink') | first %}
                {% elif section %}
                    {% set path = section.translations | filter(attribute='lang', value=another_lang) | map(attribute='permalink') | first %}
                {% elif term %}
                    {% set term_another_lang = get_taxonomy_term(kind=taxonomy.name, term=term.name, lang=another_lang) %}
                    {% set path = term_another_lang.permalink %}
                {% elif taxonomy %}
                    {% set path = get_url(path=taxonomy.name, lang=another_lang) %}
                {% else %}
                    {% set path = get_url(path='@/_index.md', lang=another_lang) %}
                {% endif %}
                <a href="{{ path }}">
                    <h1 class="logo">{{ another_lang | upper }}</h1>
                </a>  
            </div>
        </div>
    </header>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>
</body>

</html>